<html>
    <head>
        <title>Sample</title>
        <style>
            body {
                font-family:Arial, sans-serif;
            }
            h3 {
                margin-left:10px;
            }
            .icon-grid {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .icon-grid > li {
                display:inline-block;
                margin: 10px;
                padding: 10px;
                width: 104px;
                height: 124px;
                text-align:center;
                border:1px solid #dce5e7;
            }
            .icon-grid  svg {
                width: 64px;
                height: 64px;
                margin: 10px;
            }
            .icon-grid  input {
                width: 64px;
            }
        </style>
    </head>
    <body>
        <ul class="icon-grid">
            {{#each icons}}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="{{name}}">
                    <use xlink:href="sprite.svg#{{name}}" />
                </svg> 
                <input type="text" onClick="this.select();" value="&#x3C;svg xmlns=&#x22;http://www.w3.org/2000/svg&#x22; class=&#x22;{{name}}&#x22;&#x3E;&#x3C;use xlink:href=&#x22;sprite.svg#{{name}}&#x22; /&#x3E;&#x3C;/svg&#x3E;" />
            </li>
            {{/each}}
        </ul>
</body>
